/* ------------- Reply custom styling --------------- */

@initials-width: 40px;
.initials-bubble {
    margin-top: 5px;
    border: 2px #776 solid;
    border-radius: 100%;
    font-size: 1.1rem;
    font-weight: 600;
    height: @initials-width;
    width: @initials-width;
    text-align: center;
}

.initials-bubble-text {
    margin-top: 5px;
}

@parent-edit-offset: 30px;
.is-parent {
    position: relative;
    left: @parent-edit-offset;
    width: calc(100% - @parent-edit-offset);
}

@reply-offset: 40px;
.is-reply {
    position: relative;
    left: @reply-offset;

    &:not(button) {
        width: calc(100% - @reply-offset);
    }
}

.reply-line {
    position: absolute;
    z-index: 1;
    top: 60px;
    left: 18px;
    width: 18px;
    height: calc(100% - 167px);
    border: 2px rgba(0, 0, 0, 0) solid;
    border-bottom-color: rgba(0, 0, 0, .4);
    border-left-color: rgba(0, 0, 0, .4);
    border-top-color: transparent;
    border-bottom-left-radius: 15px;

    &.with-reply-button {
        height: calc(100% - 100px);
    }
}

.grid-container {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: @initials-width auto;
}

/* ------------- General styles --------------- */

.prompt-grid {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 10px;
}

.edit-symbol {
    position: absolute;
    right: 10px;
    cursor: pointer;
    z-index: 1;
}

.parent-reply-button {
    position: absolute;
    right: 0;
    top: 2px;
    z-index: 1;
}

hr.parent-hr {
    position: relative;
    left: 25px;
    width: calc(100% - 50px);
    padding-bottom: 5px;

    &.no-padding {
        padding-bottom: 0;
    }
}

.btn-small {
    font-size: .7em;
    height: 25px;
    line-height: 1em;
}

.text-middle {
    display: table-cell;
    font-size: 13px;
    vertical-align: middle;
    text-align: center;
}

@reply-number-width: 23px;
.reply-number {
    width: @reply-number-width;
    height: @reply-number-width;

    border: solid 2px var(--primary);
    border-radius: 20px;

    &.new-replies {
        background-color: var(--primary);
        color: white;
    }
}
