<nav class="navbar navbar-light bg-primary">
    <h1><i>Letters from a Skeptic</i> — Discussion Board</h1>
</nav>
<br>
<div *ngIf="prompts && !isLoading" class="container">
    <ng-container *ngFor="let prompt of prompts; let i = index">
        <button (click)="visiblePrompts[i] = !visiblePrompts[i]" class="btn btn-primary pull-right">
            <i [class.fa-caret-down]="!visiblePrompts[i]" [class.fa-caret-up]="visiblePrompts[i]" class="fa fa-fw"></i>
        </button>
        <h2>{{ prompt.promptText }} ({{ prompt.dueDate }})</h2>
        <div [hidden]="!visiblePrompts[i]">
            <!-- ngFor parent comments -->
            <ng-container *ngFor="let parentReply of prompt.replies; let k = index">
                <div style="overflow: hidden; position: relative">
                    <div class="parent-reply-grid">
                        <!-- Parent comment -->
                        <ng-container *ngTemplateOutlet="replyTemplate; context: { $implicit: parentReply, indent: false }"></ng-container>
                        <!-- <div *ngIf="reply.childReplies?.length" class="text-nowrap">({{ reply.childReplies.length }} replies)</div> -->
                        <button class="btn btn-primary btn-small" (click)="visibleParentReplies[i][k] = !visibleParentReplies[i][k]">
                            {{ visibleParentReplies[i][k] ? 'Hide' : 'View' }} {{ parentReply.childReplies.length }} {{ parentReply.childReplies.length === 1 ? 'reply' : 'replies' }}
                        </button>
                    </div>
                    <ng-container *ngIf="visibleParentReplies[i][k]">
                        <div class="reply-line" [class.with-reply-button]="showReplyButton(i, k)"></div>
                        <hr class="parent-hr">
                        <!-- ngFor child comments -->
                        <ng-container *ngFor="let childReply of parentReply.childReplies">
                            <!-- Child comment -->
                            <ng-container *ngTemplateOutlet="replyTemplate; context: { $implicit: childReply, indent: true }"></ng-container>
                        </ng-container>
                        <button *ngIf="showReplyButton(i, k)" class="is-reply btn btn-primary mb-4" (click)="openReply(i, k)">Reply</button>
                        <div *ngIf="!showReplyButton(i, k)" class="is-reply">
                            <textarea id="discussion-textarea-{{ i }}-{{ k }}" class="form-control" [(ngModel)]="newChildReplies[i][k]" (keydown)="addNewChildReply(i, k, parentReply.id, $event)" placeholder="Write your reply"></textarea>
                            <button class="btn btn-secondary float-right mt-2" (click)="cancelReply(i, k)">Cancel</button>
                            <button class="btn btn-primary float-right mt-2 mr-2" (click)="addNewChildReply(i, k, parentReply.id)">Post&nbsp;<i class="fa fa-send"></i></button>
                            <br><br><hr>
                        </div>
                    </ng-container>
                    <hr *ngIf="!visibleParentReplies[i][k]">
                </div>
            </ng-container>

            <div class="">
                <div style="overflow: hidden">
                    <textarea class="form-control" [(ngModel)]="newParentReplies[i]" (keydown)="addNewParentReply(i, $event)" placeholder="Start a new discussion"></textarea>
                    <button class="btn btn-primary float-right mt-2" (click)="addNewParentReply(i)">Post&nbsp;<i class="fa fa-send"></i></button>
                </div>
            </div>
        </div>
        <hr style="background: darkgrey; border: none; height: 3px; margin-left: -20px; margin-right: -20px;">
    </ng-container>
</div>
<br /><br />

<ng-template #replyTemplate let-reply let-indent="indent">
    <div *ngIf="!reply.isEditing" style="position: relative">
        <ng-container *ngIf="reply.replierName === username && !reply.isDeleted">
            <a class="edit-symbol pull-right" [class.mr-4]="!reply.isDeleted" style="margin-top: 2px;">
                <i (click)="reply.isEditing = true" class="fa fa-edit fa-lg" title="Edit" aria-hidden="false"></i>
            </a>
            <a class="edit-symbol pull-right">
              <i (click)="deleteReply(reply)" class="fa fa-trash fa-lg" title="Delete" aria-hidden="false"></i>
            </a>
        </ng-container>
        <div>
            <div class="grid-container" [class.is-reply]="indent">
                <div class="initials-bubble">
                    <div class="initials-bubble-text size-constant">
                        {{ reply.replierName.substring(0, 1).toUpperCase() }}
                    </div>
                </div>
                <div>
                    <div class="mr-5"><!-- right margin to leave room for edit/trash button -->
                        <b>
                            {{ reply.replierName }}
                        </b>
                        {{ datePipe.transform(reply.createDate, 'short') }}
                    </div>
                    <div *ngIf="!reply.isDeleted" style="white-space: pre-line">{{ reply.replyText }}</div>
                    <div *ngIf="reply.isDeleted" style="white-space: pre-line"><i>[deleted]</i></div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="reply.isEditing" [class.is-reply]="indent" [class.is-parent]="!indent">
        Edit:<br />
        <textarea (keydown)="saveEditedReply(reply, $event)" class="form-control" [(ngModel)]="reply.replyText"></textarea>
        <button class="btn btn-secondary float-right mt-2 ml-2" (click)="reply.isEditing = false; reply.isHovered = false">Cancel</button>
        <button class="btn btn-primary float-right mt-2 ml-2" (click)="saveEditedReply(reply)">Save</button>
        <br /><br />
    </div>
    <hr *ngIf="indent" class="parent-hr no-padding" />
</ng-template>
